ALTER TABLE appointments ADD COLUMN IF NOT EXISTS user_id UUID REFERENCES auth.users(id) ON DELETE SET NULL; ALTER TABLE appointments ADD COLUMN IF NOT EXISTS mechanic_id UUID REFERENCES mechanics(id) ON DELETE SET NULL; ALTER TABLE appointments ADD COLUMN IF NOT EXISTS mechanic_notes TEXT;
